<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applicaster.plugin.coppa.pocketwatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />

        <activity
            android:name="com.applicaster.plugin.coppa.pocketwatch.ui.ParentGateActivity"
            android:theme="@style/PocketWatchCoppaHookTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.applicaster.plugin.coppa.pocketwatch.ui.PrivacyPolicyActivity"
            android:theme="@style/PocketWatchCoppaHookTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.applicaster.plugin.coppa.pocketwatch.ui.NotificationSettingsActivity"
            android:theme="@style/PocketWatchCoppaHookTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".util.DebugMessageActivity"
            android:launchMode="singleInstance"
            android:theme="@style/PocketWatchCoppaHookTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
